header {
  background-color: $header;
  margin-bottom: 90px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .headerImgContainer{
    width: 45%;
    img {
      max-width: 100%;
      vertical-align: middle; // like display: block, but not.
    }
  }
  .headerContent {
    width: 55%;
    color: $primary;
    .contentContainer{
      margin: 0 auto;
      width: 65%;
    }
  }
}